.card {
  padding: 10px;
  background-color: #ebecf0;
  min-width: 250px;
  max-height: 80vh;
  border-radius: 3px;
  overflow: auto;
}

.card:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 980px) {
  .card {
    margin-bottom: 18px;
  }
  .card:not(:last-child) {
    margin-right: 0px;
  }
}
