.card-list-preview {
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  height: calc(100% - 76px);
}
@media screen and (max-width: 980px) {
  .card-list-preview {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: unset;
    height: unset;
  }
}
.card > p {
  color: #777;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}
.card > p:hover {
  color: black;
  background-color: #f7f7f7;
}
