.card-list-preview {
  padding: 20px 10px;
  display: flex;
  align-items: flex-start;
  width: 100vw;
}

.card > p {
  color: #777;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
}
.card > p:hover {
  color: black;
  background-color: #f7f7f7;
}
